/*body{
  display: flex;
  height: 100vh;*/

}

body {
  /*shape-outside: url('noun_109069.png');*/
  shape-image-threshold: 0.5;
}

.container {
  height: 406px;
  width: 296px;
  padding: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25px 80px 48px 48px 48px 48px 48px;
  grid-gap: 10px;
  background: pink;
  border-radius: 50
}

div {
  border: 1px solid black;
}

#heading {
  color: blue;
  grid-column: span 4;
}

#screen {
  color: black;
  grid-column: span 4;
}

.btn {
  text-align: center;
  background-color: white;
  color: black;
  border: 2px solid pink;
  font-size: 25px;
  background: purple;
  vertical-align: middle;
  line-height: 45px;
}
